<% provide(:title, 'Hotels') %>

<div class="center hero-unit">
	<center>
		<h1 style="font-size: 4em"><%= yield(:title) %></h1>
		<hr>
		<p>
			<%= link_to image_tag("https://s3.amazonaws.com/missyandmatt/photos/thumbs/kat_W140726-0174.jpg", width: "90%"), '#' %>
		</p>
		<hr>
		</center>
<div class="hero-unit">

			<h1><u>goleta</u></h1>
			<p>Dos Pueblos Ranch is in Goleta, so if staying near the venue is most appealing, Goleta is the place for you!</p>
			<div class="row"><center>
				<div class="span9 box green">
					<%= link_to "BACARA RESORT", "http://www.bacararesort.com", target: "_blank" %><br>
					<p>Nestled on the bluff, Bacara offers comfortable luxury and incomparable natural beauty. Huge grounds, features direct access to beautiful beaches, world-class golf and wine country.</p>
				</div></center>
			</div>
			<div class="row"><center>
				<div class="span4 box green">
					<%= link_to "HAMPTON INN GOLETA (A HILTON HOTEL)", "http://hamptoninn3.hilton.com/en/hotels/california/hampton-inn-santa-barbara-goleta-SBAGOHX/index.html", target: "_blank" %><br>
					<strong><span>*Room Block under EGAN/KATROSAR</span></strong><br>
					<p>Call for block room rate: 805-681-9800</p>
					<p>Amenities: Breakfast, gym, pool, parking.</p>
					<p>$209 a night • 2 night min.</p>
				</div>				
				<div class="span4 box green">
					<%= link_to "PACIFICA SUITES", "http://www.pacificasuites.com", target: "_blank" %><br>
					<strong><span>*Room Block under EGAN/KATROSAR</span></strong><br>
					<p>Call for block room rate: 800-338-6722</p>
					<p>Amenities: Breakfast, gym, pool, parking.</p>
					<p>$239 a night • 2 night min.</p>
				</div>
				</center>
			</div>

			<h1><u>lodging by the beach</u></h1>
			<p>The following hotels are in cluster and walking distance to each other. They are all across the street from the beach! If you want beach time, stay at one of these places. Minus the Four Seasons, these hotels are also a 5-10 minute walk to State Street in downtown Santa Barbara.</p>
			<div class="row"><center>
				<div class="span4 box green">
					<%= link_to "HYATT SANTA BARBARA", "http://santabarbara.hyatt.com/en/hotel/home.html", target: "_blank" %><br>
					<strong><span>*Room Block under EGAN/KATROSAR</span></strong><br>
					<p>Amenities: heated pool and hot tub, spa & gym, restaurant and bar. This is a large full service hotel.</p>
					<p>Call for block room rate: 888-421-1442</p>
					<p>$209 Sun-Thur • $349 Fri-Sat • 2 night min</p>
				</div>
				<div class="span4 box green">
					<%= link_to "MOTEL 6", "http://www.motel6.com/reservations/motel_detail.aspx?num=1", target: "_blank" %><br>
					<strong><span>*Room Block under EGAN/KATROSAR</span></strong><br>
					<p>Amenities: unheated pool</p>
					<p>Call for block room rate: 800-544-4866</p>
					<p>$195 for 2 adults plus tax. also can do rooms for 3 or 4 people. $3 per additional person.</p>
				</div></center>
			</div>
			<div class="row"><center>
				<div class="span4 box green">
					<%= link_to "CABRILLO INN", "http://www.cabrillo-inn.com", target: "_blank" %><br>

					<p>This is a boutique motel right next to the Hyatt. Amenities: Heated pool.</p>
					<p>Rooms vary in size $239 – $399</p>
				</div>
				<div class="span4 box green">
					<%= link_to "FESS PARKER DOUBLE TREE", "http://www.fessparkersantabarbarahotel.com", target: "_blank" %><br>

					<p>Another large, full service hotel in the area</p>
					<p>Amentities: heated pool and hot tub, spa & gym, restaurant and bar.</p>
					<p>$460</p>
				</div></center>
			</div>
						<div class="row"><center>
				<div class="span4 box green">
					<%= link_to "FOUR SEASONS", "http://www.fourseasons.com/santabarbara/", target: "_blank" %><br>

					<p>Luxury option – a little further south, across from Butterfly Beach. Full service hotel.</p>
				</div></center>
			</div>

			<h1><u>lodging by downtown state street</u></h1>
			<p>Located along a stretch of historic Santa Barbara, walking distance to dozens of restaurants and shops.</p>
			<div class="row"><center>
				<div class="span4 box green">
					<%= link_to "HOLIDAY INN EXPRESS", "http://www.ihg.com/holidayinnexpress/hotels/us/en/santa-barbara/sbadt/hoteldetail", target: "_blank" %><br>
					<p>They won’t charge extra per person, so you could have 5 in a room at same rate.</p>
					<p>Wedding rate of $231+tax – $241+tax on weekends. $190+tax – $199+tax on weeknights.</p>
				</div>
				<div class="span4 box green">
					<%= link_to "CANARY HOTEL", "http://www.canarysantabarbara.com", target: "_blank" %><br>
					<p>Boutique hotel, very cool, but higher price point</p>
					<p>Amenities: Rooftop heated pool and jacuzzi, bar, restaurant, bar, wifi, gym, spa.</p>
					<p>$575</p>
				</div></center>
			</div>
			<div class="row"><center>
				<div class="span4 box green">
					<%= link_to "SPANISH GARDEN INN", "http://www.spanishgardeninn.com/", target: "_blank" %><br>
					<p>Boutique hotel, very cool, but higher price point</p>
					<p>Ameninties: wifi, breakfast, parking, heated pool, small property – 23 rooms.</p>
					<p>$409</p>
				</div>
				<div class="span4 box green">
					<%= link_to "EL ENCANTO", "http://www.elencanto.com/web/ele/el_encanto.jsp", target: "_blank" %><br>
					<p>Luxury Option – north end of downtown, just reopened after 7 years of renovation, oldest hotel in Santa Barbara. Full service hotel.</p>
				</div></center>
			</div>


			<h1><u>upper state street (north santa barbara)</u></h1>
			<p>The following hotels are on State Street, but about a 10 minute drive north of downtown. This location is closer to the venue in Goleta.</p>
			<div class="row"><center>
				<div class="span4 box green">
					<%= link_to "BEST WESTERN PLUS PEPPER TREE", "http://www.bestwesternpeppertreeinn.com", target: "_blank" %><br>
					<p>Amenities: 2 heated pools and hot tubs, diner, bar, gym/massage room, hair salon/ barber shop, wifi, parking, complimentary shuttle service to Santa Barbara airport or Amtrack.</p>
					<p>$233 plus tax. Additional person $10.</p>
				</div>
				<div class="span4 box green">
					<%= link_to "AGAVE INN", "http://agaveinnsb.com", target: "_blank" %><br>
					<p>This is renovated motel. Simple and basic with hipster decor. They have some suites that can sleep 5 and have a kitchen.</p>
					<p>$209 on weekends • $222 with an extra pull out</p>
				</div></center>
			</div>

	</div>
</div>