<% provide(:title, 'Sign In') %>

<div class="center hero-unit">
	<center>
		<h1 style="font-size: 4em"><%= yield(:title)%></h1>
		<hr>

		<p>
			<%= link_to image_tag("https://s3.amazonaws.com/missyandmatt/photos/password.jpg", width: "90%"), '#' %>
		</p>
		<hr>
				<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
		  <div class="form-inputs" style="width:50%">
		    <%= f.input :email, :as => :hidden, :input_html => { :value => "a@a.com" } %>
		    <%= f.input :password, :required => false %>
		  </div>

		  <div class="form-actions" style="width:50%; background-color:#ffffff">
		    <%= f.submit "Enter", class: "btn btn-primary"%>
		  </div>
		<% end %>

	</center>
</div>



