<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li><%= link_to 'Home',  root_path %></li>
                        <li><%= link_to 'Wedding Details',  details_path %></li>
                    </ul>
                </div>
                <div class="nav-collapse pull-right">
                    <ul class="nav">
                        <li><%= link_to 'Registry',  registry_path %></li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Santa Barbara <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to 'Directions',  directions_path %></li>
                            <li><%= link_to 'Hotels',  hotels_path %></li>
                            <li><%= link_to 'Activities',  activities_path %></li>

                            <% if guest_signed_in? %>
                            <li><%= link_to "Logout", destroy_guest_session_path, method: :delete %></li>
                            <% end %>
                        </ul>
                    </li>   
                    </ul>
                </div>
        </div>
    </div>
</div>